/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #333; /* must change */
    color: #fff; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
}

/* --- ADD YOUR STYLES BELOW --- */

/* --- add your PSEUDO CLASSES below this line --- */
